<div class="modal-header d-flex justify-content-between align-items-center">
    <div>
        <i class="fa fa-chevron-left pr-0 pointer" (click)="activeModal.dismiss('Cross click')" container="body"
            ngbTooltip="Indicadores" placement="right"></i>
    </div>
    <h4 class="font-weight-bold">
        {{indicator.nombre}}
    </h4>
    <div></div>
</div>
<div class="modal-body">
    <div class="text-center">
        <h2 class="text-primary ">
            {{ indicator.unidad_medida == 'Porcentaje' ? '' : '$' }} {{indicator.valor | number:'':'es'}} {{
            indicator.unidad_medida == 'Porcentaje' ? '%' : '' }}
        </h2>
    </div>

    <div class="my-3">
        <div class="row text-left ml-5">
            <div class="col-md-6 text-muted">
                Nombre
            </div>
            <div class="col-md-6 font-weight-bold">
                {{indicator.nombre}}
            </div>
        </div>
        <div class="row text-left ml-5">

            <div class="col-md-6 text-muted">
                Fecha
            </div>
            <div class="col-md-6 font-weight-bold">
                {{ indicator.fecha | date: 'dd \'de\' MMMM \'del\' yyyy' }}
            </div>
        </div>
        <div class="row text-left ml-5">
            <div class="col-md-6 text-muted">
                Unidad de Medida
            </div>
            <div class="col-md-6 font-weight-bold">
                {{indicator.unidad_medida}}
            </div>
        </div>
    </div>
    <shared-loading *ngIf="loading"></shared-loading>
    <ng-container *ngIf="!loading">
        <div id="chart" *ngIf="serie && serie.length">
            <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [xaxis]="chartOptions.xaxis"
                [yaxis]="chartOptions.yaxis" [dataLabels]="chartOptions.dataLabels" [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke">
            </apx-chart>
        </div>
        <div class="d-flex align-items-center justify-content-center" *ngIf="!serie || !serie.length">
            <div class="alert alert-warning border border-warning m-3 text-center w-100">
                <div>
                    <i class="fa fa-line-chart fa-2x" aria-hidden="true"></i>
                </div>
                No se han encontrado datos para graficar
            </div>
        </div>
    </ng-container>
</div>